* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    background: #f7f7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    width: 75%;
    height: 90vh;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.header {
    padding: 15px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.chat-area {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #f7f7f8;
}

.user, .bot {
    max-width: 75%;
    padding: 14px 18px;
    margin-bottom: 12px;
    border-radius: 10px;
    white-space: pre-line;
}

.user {
    background: #6c63ff;
    color: white;
    margin-left: auto;
}

.bot {
    background: #e5e5ea;
    color: #000;
    margin-right: auto;
}

.input-area {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ddd;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    margin-left: 10px;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background: #6c63ff;
    color: white;
    cursor: pointer;
}
